* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    list-style: none;
    text-decoration: none;
    cursor:default;
    scroll-behavior: smooth;
    
  }
  
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  
  section {
    padding: 50px 10%;
  }

  .cdlists {
    padding: 70px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* flex-wrap: wrap; */
    /* justify-content: center; */
  }
  
  .candidate-card {
    width: 600px;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block;
    text-align: left;
  }
  
  .candidate-card h3 {
    padding: 10px 0;
    font-size: 2rem;
  }
  .candidate-card span {
    padding: 10px 0;
    color: purple;
  }
  
  .candidate-card p {
    padding: 2px 0;
    font-size: 1.2rem;
  }
  
.remove-button{
    background: rgb(212, 212, 212);
    font-size: 15px;
    outline: none;
    margin: none;
    border: none;
    margin: 10px 0;
    padding: 10px 30px;
    transition: 0.3s ease;
  }
  .remove-button:hover{
    outline: none;
    margin: none;
    border: none;
    margin: 10px 0;
    padding: 10px 30px;
    background-color: rgb(173, 0, 0);
    color: white;
    transition: 0.3s ease;
  }

#search {
    position: relative;
    border: none;
    outline: none;
    height: 35px;
    max-width: 100%;
    width: 700px;
    margin: 0 10px;
    /* border-radius: 10px; */
    /* text-align: center; */
    /* cursor: text; */
    /* color: black; */
    transition: 0.4s ease all;
    background: transparent;
    border-bottom: 1px solid black;
  }

  @media (max-width:415px)
  {

    section {
      padding: 10px 8%;
    }
    .cdlists {
      padding: 50px 0;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      /* flex-wrap: wrap; */
      /* justify-content: center; */
    }
    
    .candidate-card {
      width: 300px;
      /* margin: 10px; */
      padding: 20px;
      /* border: 1px solid #ccc; */
      border-radius: 5px;
      background-color: #f9f9f9;
      display: block;
      text-align: left;
    }
    
    .candidate-card h3 {
      padding: 5px 0;
      font-size: 1.2rem;
    }
    .candidate-card span {
      padding: 10px 0;
      color: purple;
    }
    
    .candidate-card p {
      padding: 2px 0;
      font-size: 0.7rem;
    }
    
  .remove-button{
      background: rgb(212, 212, 212);
      font-size: 10px;
      outline: none;
      margin: none;
      border: none;
      margin: 10px 0;
      padding: 5px 15px;
      transition: 0.3s ease;
    }
    .remove-button:hover{
      outline: none;
      margin: none;
      border: none;
      margin: 10px 0;
      padding: 10px 30px;
      background-color: rgb(173, 0, 0);
      color: white;
      transition: 0.3s ease;
    }

    #search {
      position: relative;
      border: none;
      outline: none;
      height: 35px;
      max-width: 100%;
      width: 150px;
      margin: 0 10px;
      /* border-radius: 10px; */
      /* text-align: center; */
      /* cursor: text; */
      /* color: black; */
      transition: 0.4s ease all;
      background: transparent;
      border-bottom: 1px solid black;
    }
  
  }