* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  list-style: none;
  text-decoration: none;
  cursor:default;
  scroll-behavior: smooth;
  
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* background: url(backe.jpg); */
  /* background-position: center; */
}

section {
  padding: 50px 10% 50px;
}

/* .log{
  width: 100%;
  background: none;
  top:0;
  right:0;
  z-index:101;
}
.log ul{
  display: flex;
  height:30px;
  justify-content: end;
  align-items: center;
  padding: 0 50px;
}
.log ul button{
  background:rgb(58, 6, 55);
  color: white;
  margin: 0 20px;
  padding: 10px 20px;
} */


header {
  position: fixed;
  width: 100%;
  background:#ffff;
  top:0%;
  right:0;
  z-index:101;
  display: flex;
  align-items: center;
  /* text-align: center; */
  /* justify-content: space-around; */
  justify-content: space-around;
  font-weight: bold;
  padding: 8px 3%;
  transition: 0.3s ease;
}
/* header.sticky{
  top:0;
  background: white;
  padding: 10px 5%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  transition: 0.3s ease;
} */



header img {
  width: 120px;
  cursor: default;
  object-fit: contain;
  transition: 0.3s ease;
}
header img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

/* -------search-------- */
input , select{
  position: relative;
  border: none;
  outline: none;
  height: 35px;
  max-width: 100%;
  width: 150px;
  margin: 0 10px;
  /* border-radius: 10px; */
  /* text-align: center; */
  /* cursor: text; */
  /* color: black; */
  transition: 0.4s ease all;
  background: transparent;
  border-bottom: 1px solid black;
}

input{
  cursor: text;
}
.search{
  display: flex;
  align-items: center;
  text-align: center;
}
.search i{
  padding: 0 10px;
  
}

header a{
  color: #2c2c2c;
}
header a:hover{
  color: #8d159d;

}
header ul {
  display: flex;
}

header ul li {
  position: relative;
  padding: 0 15px;
  font-size: 1rem;
  transition: 0.1s;
}
header ul li span {
  color: #e74c3c;
}

header .log span {
  color: #8d159d;
}
.log button{
  background: none;
  border: none;
  font-size: 1rem;
  font-weight:200;
  outline: none;
  padding: 0 15px;
  position: relative;
  transition: 0.1s;
  /* padding: 0 15px; */
}

header ul li:hover, .log button:hover {
  position: relative;
  /* padding: 0 15px; */
  font-size: 1rem;
  color: #8100b4;
  transform: scale(1.1);
  transition: 0.1s;
}

/* -----home--------- */
.home {
  height: 100vh;
  width: 100%;
  /* min-height: 100vh; */
  /* background-color: blanchedalmond; */
  position: relative;
  background: url(bg1.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: end;
}
.home-left h1 {
  color: rgb(255, 229, 176);
  font-size: 5rem;
  display: flex;
  flex-direction: column;
}
.home-left h1 span {
  font-size: 6rem;
}
.home-left p {
  display: inline-block;
  background-color: #fff;
  padding: 8px 50px;
  color: rgb(58, 6, 55);
  font-size: 1.5rem;
}

.home-left a{
  color: white;
  border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    animation: flip 2s infinite;
    animation-delay: calc(.1s * var(--i));
  }

  @keyframes flip {
    0%,80% {
      transform: rotate(360deg) scale(1.5)
    }
    79.9%, 0%{
      transform: rotate(360deg) scale(1)
    }
  }
.home-left a:hover{
 
  transform: scale(1.32);
  transition: 1s ease;
  animation: none;


}

/* -----home--------- */

/* -------features------ */

.features {
  /* background: #f6f6f6; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  /* background: white; */
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* width: 320px; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 25px 32px;
  /* overflow: hidden; */
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #2c2c2c;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% ); */
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.card:hover::before {
  height: 75%;
}

.card:hover{
  transform: translate(0, -15px);
}


.c1::before {
  background: linear-gradient(-45deg, #3498db 0%, #a5fdff 100%);
}
/* .c1::before:hover{
  background: #ffff;
} */
.c1 h1{
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #3498db 0%, #a5fdff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.c2::before {
  background: linear-gradient(-45deg, #44e286 0%, #00c6b2 100%);
}
.c2 h1{
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #44e286 0%, #00c6b2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.c3::before {
  background: linear-gradient(-45deg, #e91e63 0%, #ff9800 100%);
}
.c3 h1{
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg,  #e91e63 0%, #ffb700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.c4::before {
  background: linear-gradient(-45deg, #3ce76f 0%, #dfe91e 100%);
}
.c4 h1{
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #3ce76f 0%, #dfe91e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c5::before {
  background: linear-gradient(-45deg, #ff3d7e 0%, #c875e9  100%);
}
.c5 h1{
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #ff3d7e 0%, #c875e9  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c6::before {
  background: linear-gradient(-45deg, #fbff00 0%, #ffa536 100%);
}
.c6 h1{
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #fbff00 0%, #ffa536 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

/* -------features------ */


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);/* Semi-transparent background */
  display: none;
  z-index: 9999;
  transition: 0.3s ease;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 890px;
  /* max-width: 90%; */
  height: 520px;
  /* max-height: 80%; */
  /* overflow: hidden;  */
  transition: 0.3s ease;
}

.close{
  font-size: 1.5rem;
  margin: 15px 0 0 5px;
}

/* --------about---------- */
.about{
  display: grid;
  position: relative;
  grid-template-columns: repeat(1,1fr);
  align-items: center;
  text-align: center;
  grid-gap:2rem;
}

.aboutleft{
  display:flex;
  /* justify-content:space-around; */
  text-align:justify;
}
.aboutleft h1{
  font-size: 3rem;
  color: rgb(99, 0, 99);
  padding: 50px 30px;
}

.aboutleft p{
  font-size:1.5rem;
  text-align: justify;
  color: rgb(127, 127, 127);
  padding: 10px 30px;
}

.aboutleft img{
  width: 450px;
  text-align: center;
  transition: 0.3s ease;
}
.aboutright img{
  width: 1000px;
  text-align: center;
}

.aboutleft img:hover{
  transform: scale(1.01) translateY(-20px);
  box-shadow: 0 20px 20px rgb(204, 204, 204) ;
  transition: 0.3s ease;
}

#menu-icon{
  display: none;
}




@media (max-width:415px){
  section{
    padding: 20px 10%;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .card {
    position: relative;
    justify-content: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    padding: 15px 16px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #2c2c2c;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .content .heading {
    font-weight: bold;
    font-size: 1.2rem;
  }
  .content .para {
    line-height: 1.5;
    font-size: 0.8rem;
    font-weight: 500;
  }
  .card:hover::before {
    height: 70%;
  }
  
  .card:hover{
    transform: translate(0, -10px);
  }
  .about{
    display: grid;
    position: relative;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    text-align: center;
    grid-gap:2rem;
  }
  
  .aboutleft{
    display:flex;
    flex-direction: column;
    /* justify-content:space-around; */
    text-align:left;
  }
  .aboutleft h1{
    font-size: 1rem;
    color: rgb(99, 0, 99);
    padding: 10px 1%;
  }
  
  .aboutleft p{
    font-size:0.8rem;
    color: rgb(127, 127, 127);
    padding: 2px 1%;
  }
  
  .aboutleft img{
    width: 305px;
    text-align: center;
    transition: 0.3s ease;
  }
  
  .aboutright img{
    display: none;
  }

  .home {
    height:50vh;
    max-width: 100%;
    /* min-height: 100vh; */
    /* background-color: blanchedalmond; */
    position: relative;
    background: url(bg1.jpg);
    background-size:cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: end;
  }
  .home-left h1 {
    color: rgb(255, 229, 176);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
  .home-left h1 span {
    font-size: 2rem;
  }
  .home-left p {
    display: inline-block;
    background-color: #fff;
    padding: 3px 25px;
    color: rgb(58, 6, 55);
    font-size: 0.7rem;
  }
  
  .home-left a{
    color: white;
    border: 1px solid #ffffff;
    font-size: small;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      animation: flip 2s infinite;
      animation-delay: calc(.1s * var(--i));
    }

    header {
      position: fixed;
      width: 100%;
      background:#ffff;
      top:0%;
      right:0;
      z-index:101;
      display: flex;
      align-items: center;
      /* text-align: center; */
      /* justify-content: space-around; */
      justify-content: space-around;
      font-weight: bold;
      padding: 3px 0;
      transition: 0.3s ease;
    }
    /* header.sticky{
      top:0;
      background: white;
      padding: 10px 5%;
      box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
      transition: 0.3s ease;
    } */
    
    header img {
      width: 70px;
      cursor: default;
      object-fit: contain;
      transition: 0.3s ease;
    }
    header img:hover {
      transform: scale(1.05);
      transition: 0.3s ease;
    }
    
    /* -------search-------- */
    input , select{
      position: relative;
      border: none;
      outline: none;
      height: 25px;
      max-width: 100%;
      width: 70px;
      /* margin: 0 10px; */
      /* border-radius: 10px; */
      /* text-align: center; */
      /* cursor: text; */
      /* color: black; */
      transition: 0.4s ease all;
      background: transparent;
      border-bottom: 1px solid black;
    }
    
    input{
      cursor: text;
    }
    .search{
      display: flex;
      align-items: center;
      text-align: center;
    }
    .searchicon{
      display: none;
    }
    .search i{
      padding: 0 10px;
      
    }
    
    header a{
      color: #2c2c2c;
    }
    header a:hover{
      color: #8d159d;
    
    }
    header ul {
      display: flex;
    }
    
    header ul li {
      position: relative;
      padding: 0 15px;
      font-size: 1rem;
      transition: 0.1s;
    }
    header ul li span {
      color: #e74c3c;
    }
    
    header .log span {
      color: #8d159d;
    }
    .log button{
      background: none;
      border: none;
      font-size: 1rem;
      font-weight:200;
      outline: none;
      padding: 0 15px;
      position: relative;
      transition: 0.1s;
      /* padding: 0 15px; */
    }
    
    header ul li:hover, .log button:hover {
      position: relative;
      /* padding: 0 15px; */
      font-size: 1rem;
      color: #8100b4;
      transform: scale(1);
      transition: 0.1s;
    }

    #menu-icon{
      display: block;
  }
  .navlist{
      position: absolute;
      top:-600px;
      left: 0;
      right: 0;
      flex-direction: column;
      background: white;
      text-align: left;
      font-size: 0.6rem;
      transition: .3s ease;
  }

  .navlist a{
      display: block;
      padding: 5px 0;
      /* margin: 1.5 rem; */
      border-right: 2px solid white;
      color: rgb(0, 0, 0);
  }

  .navlist span{ 
    display: none;
}
  .navlist a:hover{
      background: wheat;
      color: purple;
  }
  .navlist a::after{
      display: none;
  }
  .navlist.active{
      top:100%;
  }


  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);/* Semi-transparent background */
    display: none;
    z-index: 9999;
    transition: 0.3s ease;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    /* width: 890px; */
    /* max-width: 90%; */
    height:500px;
    /* max-height: 80%; */
    /* overflow: hidden;  */
    transition: 0.3s ease;
  }
    
}